*.project
npm-debug.log
.idea/.name
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
**/node_modules/*
**/.sass-cache/*
*.xml
*.iml
*.properties
.DS_Store
